{% extends "base.html.twig" %}

{% block body %}
    <div class="d-flex flex-column-reverse flex-lg-row align-content-center">
        <div class="p-2">
            <h2>Authorization</h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit a
            nim id est laborum.
        </div>
        <div class="p-2 text-center">
            <div id="root"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        const image="{{ readySession.qrCode.value }}";
        const timeOutMessage="Unable to process verification"
    </script>
    {{ encore_entry_script_tags('authentication') }}
{% endblock %}
