{% extends 'base.html.twig' %}

{% block page_title %}{{ 'readid.unrecoverable_error.title'|trans }}{% endblock %}

{% block content %}
    <p class="bg-danger">
        {{ 'readid.unrecoverable_error'|trans }}
        {% if message is not null %}
            <br>
            {{ 'readid.unrecoverable_error_message_intro'|trans }}
            <br>
            {{ message }}
        {% endif %}
    </p>
{% endblock content %}
