includes:
    - ../../vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 7
    paths:
        - ../../src
    ignoreErrors:
        -
            message: '#Method [a-zA-Z0-9\\_]+::[a-zA-Z0-9]+\(\) has parameter \$context#'
            path: '**/Infrastructure/Serializer/SessionNormalizer.php'
        -
            message: '#Method [a-zA-Z0-9\\_]+::[a-zA-Z0-9]+\(\) return type has no value type specified in iterable type array#'
            path: '**/Infrastructure/Serializer/SessionNormalizer.php'
